{% extends 'base.html' %}

{% block content %}
<div class="container my-3">
    <h5 class="border-bottom pb-2">답변 등록</h5>
    <form method="post" class="post-form my-3">
        <!-- CSRF 보호용 숨김 토큰 렌더링 -->
        {{ form.csrf_token }}

        <!-- 폼 유효성 에러 메시지 출력 블록 -->
        {% include "form_errors.html" %}
        <div class="form-group">
          <label for="content">답변내용</label>
            <textarea class="form-control" name="content" id="content"
                      rows="10">{{ form.content.data or '' }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>
{% endblock %}