<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <!-- 공통 네비게이션 바 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  <div class="container-fluid px-lg-5">
    <!-- 브랜드 로고 -->
    <a class="navbar-brand" href="{{ url_for('main.index') }}">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="무인샵Agent" width="150" height="81">
    </a>

    <!-- 햄버거 토글 버튼: data-bs-* 적용 및 target에 # 추가 -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- 메뉴 영역: d-none, d-lg-flex 제거 -->
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        {% if g.user %}
        <ul class="navbar-nav gap-4 fw-semibold text-secondary">
            <li class="nav-item"><a class="nav-link text-dark hover-primary" href="/#carousel-section">서비스 소개</a></li>
            <li class="nav-item"><a class="nav-link text-dark hover-primary" href="{{ url_for('question._list') }}">FAQ 게시판</a></li>
            <li class="nav-item"><a class = "nav-link" href="{{ url_for('auth.logout') }}">{{ g.user.username }} (로그아웃)</a>
            </li>
        </ul>
        {% else %}
        <ul class="navbar-nav gap-4 fw-semibold text-secondary">
            <li class="nav-item"><a class="nav-link text-dark hover-primary" href="/#carousel-section">서비스 소개</a></li>
            <li class="nav-item"><a class="nav-link text-dark hover-primary" href="{{ url_for('auth.signup') }}">계정생성</a></li>
            <li class="nav-item"><a class="nav-link text-dark hover-primary" href="{{ url_for('auth.login') }}">로그인</a></li>
            <li class="nav-item"><a class="nav-link text-dark hover-primary" href="{{ url_for('question._list') }}">FAQ 게시판</a></li>
        </ul>
        {% endif %}
    </div>
  </div>
</nav>
</body>
</html>